In [1]:
print("hello world")

hello world

x=10
변수 = 자료

int 정수
float 실수
bool 참/거짓
str 문자열
list 리스트
tuple 튜플형
set 집합
dict 딕셔너리

In [5]:
#정수
print(type(10))
#실수
print(type(10.1))
#bool
print(type(True))
#문자열
print(type("hello python"))
#리스트
print(type([1,2,3,4]))
#튜플
print(type((1,2,3,4)))
#집합
print(type({1,2,3,4}))
#딕셔너리
print(type({
    'name':'jihun',
    'height':183}))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

사칙연산
+,-,*,/
제곱**, 몫 //, 나머지연산 %

### 연습문제 1
a =7, b = 3.0 초기화
a를 b로 나누었을 때 몫과 나머지를 각각 c와 d라는 변수에 초기화한 후 출력하라.
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라

In [7]:
a,b = 7, 3.0
# code 시작
c = a//b
d = a%b
e = a**b

print(c)
print(d)
print(e)
# code 종료

2.0
1.0
343.0

### 연습문제2

반 평균을 구하시오.
변수 이름을 학생 이름으로 하고 반드시 정수로 출력
mike 80, judy 75, sera 100

In [8]:
mike, judy, sera = 80, 75, 100
avg = (mike+ judy+ sera)/3
print(int(avg))

85

str, list, tuple, set, dict 등 요소가 있는 자료형은 요소가 있으면 True, 요소가 없으면 False

In [3]:
user_number_1 = float(input("첫 번째 점수를 입력하세요"))
user_number_2 = float(input("두 번째 점수를 입력하세요"))
user_number_3 = float(input("세 번째 점수를 입력하세요"))

if user_number_1>65 and user_number_2>65 and user_number_3>65:
    print(True)
else:
    print(False)

첫 번째 점수를 입력하세요80
두 번째 점수를 입력하세요90
세 번째 점수를 입력하세요100
True

비어있는 변수 (Null)

None

In [4]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

## 문자열

In [8]:
first = "Hello, World"
multi = """Hello, World 
Hello, Python"""

print(first)
print(multi)

Hello, World
Hello, World
Hello, Python

#### 문자열 연산
"과일" + "사과" = "과일사과"

"과일" * 3 = "과일과일과일"

\n 엔터 개행

\t 4칸 또는 일정한 칸 개행 

\\ \를 출력할 때

\" "를 출력할 때

\' '를 출력할 때

In [9]:
print("hi \nfriend")
print("hi \tfriend")
print("hi \\friend")
print("hi \"friend")
print("hi \'friend")

hi
friend
hi 	friend
hi \friend
hi "friend
hi 'friend

####문자열 인덱싱

s[i] i번째 항 

s[i:j] i번째 항 이상 j번째 미만 

s[i:j:k] i번째 항 이상 j번째 미만 k만큼 건너 뛰면서 

s[-i] -index

In [11]:
s = "hello world"

print("s[0]?",s[0],"s[6]?",s[6])
print("s[:5]?",s[:5],"s[6:]?",s[6:])
print("s[::2]?",s[::2],"s[1:6:3]?",s[1:6:3])
print("s[-1]?",s[-1],"s[1:-4:3]?",s[1:-4:3])

s[0]? h s[6]? w
s[:5]? hello s[6:]? world
s[::2]? hlowrd s[1:6:3]? eo
s[-1]? d s[1:-4:3]? eo

#### 서식 지정자
%s 문자, %d 정수 %f 실수 

%.(숫자)f 소수점 이하 자리수

In [13]:
# "문자열 %s 문자열" % "추가문자"
name = "tom"
print("i am "+name+"!") # +사용
print("i am %s!" %name) #서식 지정자 사용

# %(공백 level)s 공백추가
print("i am %10s!" %name)
print("i am %-10s!" %name)

# 여러 개의 추가문자
f1, f2 = "apple", "banana"
print("i like %s, %s!!" %(f1,f2))

i am tom!
i am tom!
i am        tom!
i am tom       !
i like apple, banana!!

#### Format 함수

In [26]:
# "문자열 {0},{1} 문자열".format(값,값)

print("I like {0}, {1} !!".format("apple", "banana"))
print("Number {0}, {2}, {1} !!".format(1,2,3))
print("Number {}, {}, {} !!".format(1,2,3))

print("Number {0:>4}!".format(1))
print("Number {0:<4}!".format(1))
print("Number {0:=<4}!".format(1))
print("Number {0:-^5}!".format(1))

I like apple, banana !!
Number 1, 3, 2 !!
Number 1, 2, 3 !!
Number    1!
Number 1   !
Number 1===!
Number --1--!

#### f문자열 (python >= 3.6)

In [28]:
math = 95
english = 65
science =40

print(f"수학점수:{math} \n영어점수:{english:-^10}\n과학점수:{science}") 
print(f"수학점수:{math+5} \n영어점수:{english:-^10}\n과학점수:{science}")

수학점수:95
영어점수:----65----
과학점수:40
수학점수:100
영어점수:----65----
과학점수:40

### 연습문제 4
a="20190505chicken19000"는 잘못 쓰여진 변수이다.
2019는 year이라는 변수에, 그 다음 0505를 day라는 변수
chicken을 menu라는 변수에, 19000을 money라는 변수에 인덱싱을 사용하여 각각 저장하고 출력하시오.

In [33]:
a="20190505chicken19000"

#code 작성

year = a[0:4]
day = a[4:8]
menu = a[8:15]
money = a[-5:]

print(year,day,menu,money, sep= ', ')

2019, 0505, chicken, 19000

### 연습문제 5
a = "90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.
문자열 인덱싱을 이용해 각 점수를 각각 
math, english, science 변수에 저장하고, average란 변수에 평균값을 저장하고 출력하시오.

In [31]:
a = "90:30:80"

#code 작성

math = float(a[:2])
english = float(a[3:5])
science = float(a[-2:])

average = (math+english+science)/3

print(average)

66.66666666666667

#### 문자열 함수 소개 #1

len(값) - 문자 길이

index(찾을 문자) - index 찾기

upper()/lower() - 대문자/소문자 바꾸기

replace(바꿀문자, 새문자) - 문자열 바꾸기

In [34]:
word = "Apple banana"
print(len(word))
print(word.index("p"))
print(word.upper())
print(word.lower())
print(word.replace("banana","Orange"))

12
1
APPLE BANANA
apple banana
Apple Orange

#### 문자열 함수 소개 #2

count(target 문자) - target 문자 개수

strip()/lstrip()/rstrip() - 공백제거

split(기준 문자) - 문자열 분리하기

join - 리스트에서 문자열로

In [39]:
word = "Apple banana"
print(word.count('a'))
print(word.count('p'))

word = "   Apple banana   "
print("|",word.strip(),"|")
print("|",word.lstrip(),"|")
print("|",word.rstrip(),"|")

scores = "10:20:50:80:99"
score_list=scores.split(":")
print(score_list)
print(word.split())

print(",".join(score_list))

3
2
| Apple banana |
| Apple banana    |
|    Apple banana |
['10', '20', '50', '80', '99']
['Apple', 'banana']
10,20,50,80,99

### 연습 문제 6
a ="  90:30:80  "이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.
문자열 함수를 이용해 공백을 제거하고 
각 점수를 각각 math, english, science 변수에 저장한 후, average란 변수에 평균값을 저장하고 출력하시오.

In [42]:
a = "  90:30:80  "
strip_a =a.strip()
a_list=strip_a.split(":")

math = float(a_list[0])
english = float(a_list[1])
science = float(a_list[2])

average = (math+english+science)/3

print(average)

66.66666666666667

### 리스트와 튜플 선언

리스트 = [값,값,값 ...] # 수정 및 추가 가능
튜플 = (값,값,값 ...) # 수정 및 추가 불가능

In [43]:
a = [] #빈값 생성
a = list() #빈값 생성
a = [1,2,3,4,5,6,7]

b = ()
b = tuple()
b = (1,2,3,4,5,6,7)

Range 함수 - 연속된 숫자를 새엇ㅇ하는 함수

In [45]:
#range (시작, 끝, 증가폭)

a = list(range(10))
print(a)
a = list(range(1,11))
print(a)
a = tuple(range(10))
print(a)
a = list(range(-10, 10, 2))
print(a)
a = list(range(5,0,-1))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]
[5, 4, 3, 2, 1]

* 리스트, 튜플 형변환

list(튜플), tuple(리스트)


* 인덱스 접근

In [48]:
#증가폭 변경
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[2:8:2])
#끝 인덱스
print(a[:8],a[5:])

# 슬라이스 요소할당
a[1:4]=["a","b","c"]
print(a)
a[1:4]=["a","b"]
print(a)

#슬라이스 삭제
del a[1:4]

print(a)

[3, 5, 7]
[1, 2, 3, 4, 5, 6, 7, 8] [6, 7, 8, 9, 10]
[1, 'a', 'b', 'c', 5, 6, 7, 8, 9, 10]
[1, 'a', 'b', 5, 6, 7, 8, 9, 10]
[1, 6, 7, 8, 9, 10]

### 리스트와 튜플 기능 #1

In [49]:
#특정값 있는지 확인 in
print(1 in a)

True

### 리스트 함수 #1

In [61]:
#요소 추가하기 append(값), expend(리스트)
a = [1,2,3,4,5]
a.append(6)
print(a)
a.extend([7,8])
print(a)

#특정 인덱스에 요소 추가 insert(인덱스, 값)
a.insert(2,100)
print(a)

#리스트 요소 삭제 pop(인덱스)
a.pop(2)
print(a)

#리스트 특정값을 찾아 삭제 remove(값)
a.remove(3)
print(a)

#특정값의 인덱스 구하기 index(값)
print(a.index(4))

#특정값의 개수 구하기 count(값)
a = [1,1,2,2,3,3,3,3]
print(a.count(3))

#순서 뒤집기 reverse()
a.reverse()
print(a)

#정렬하기 (오름차순) sort(), sort(reverse=False)
a.sort()
print(a)

#정렬하기 (내림차순) sort(reverse=True)
a.sort(reverse=True)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 100, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]
2
4
[3, 3, 3, 3, 2, 2, 1, 1]
[1, 1, 2, 2, 3, 3, 3, 3]
[3, 3, 3, 3, 2, 2, 1, 1]

### 리스트 할당과 복사

In [71]:
a = [1,2,3,4,5]
b = a #주소 복사
c = a.copy() #값 복사

b[0] = 99
c[0] = 8

print(a,"|",b,"|",c)
print("-"*50)

# 2차원 이상의 리스트는 copy.deepcopy()를 이용하여 값을 복사
import copy
a = [[1,2],[3,4],[5,6]]
b = a.copy()
b[0][0] = 10

print(a,"|",b)

c = copy.deepcopy(a)
c[0][0] = 1

print(a,"|",c)

[99, 2, 3, 4, 5] | [99, 2, 3, 4, 5] | [8, 2, 3, 4, 5]
--------------------------------------------------
[[10, 2], [3, 4], [5, 6]] | [[10, 2], [3, 4], [5, 6]]
[[10, 2], [3, 4], [5, 6]] | [[1, 2], [3, 4], [5, 6]]

### 딕셔너리
딕셔너리 = {키1:값1, 키2:값2, ...} #딕셔너리 생성

딕셔너리 = dict(키1=값1, 키2= 값2, ...)

딕셔너리 = dict() #비어있는 딕셔너리

딕셔너리 = {} #비어있는 딕셔너리

#### 딕셔너리 기능 #1

In [5]:
#키가 있는지 확인
score = {"name":"tom", "math": 80, "english": 70}
print("math" in score)
print("age" in score)

#키의 개수
print(len(score))

#키-값 쌍 추가하기 setdefault(키, 값)
score.setdefault("age", 20)
print(score)

#키-값 수정하기 update({키:값})
score.update({"math": 90})

#키로 딕셔너리 항목 삭제 pop(키, 기본값)
return_data = score.pop("name") #삭제된 키 값 반환
print(return_data)
print(score)

#모든 키 값 가져오기
print(score.keys()) #키 가져오기
print(score.values()) #값 가져오기
print(score.items()) #키와 값 가져오기

#모든 값 삭제 clear()
score.clear()
print(score)

True
False
3
{'name': 'tom', 'math': 80, 'english': 70, 'age': 20}
tom
{'math': 90, 'english': 70, 'age': 20}
dict_keys(['math', 'english', 'age'])
dict_values([90, 70, 20])
dict_items([('math', 90), ('english', 70), ('age', 20)])
{}

#### 딕셔너리 할당과 복사

In [7]:
#딕셔너리 복사 copy()
a = {"a":0, "b":1}
b = a.copy() #리스트와 마찬가지
print(a,"||||",b)

#중첩 딕셔너리의 경우
import copy
a = {"a": {"c":0,"d":0}, "b":{"e":0,"f":0}}
b = copy.deepcopy(a)
print(a,"||||",b)

{'a': 0, 'b': 1} | {'a': 0, 'b': 1}
{'a': {'c': 0, 'd': 0}, 'b': {'e': 0, 'f': 0}} | {'a': {'c': 0, 'd': 0}, 'b': {'e': 0, 'f': 0}}

### Set(집합)
세트 = {값1, 값2, 값3, 값4, ...}

In [9]:
animal = {"dog", "cat", "monkey", "horse"}
print(type(animal))

<class 'set'>

In [17]:
#세트에 특정값 확인
print("cat" in animal)

#set을 사용하여 세트 만들기
a = set("animal")
print(a)

b = set(range(5))
print(b)
print("-"*50)

#합집합 |, set.union
a = {1,2,3}
b = {3,4,5}

print(a|b)
print(set.union(a,b))
print("-"*50)

#교집합 &, set.intersection

print(a&b)
print(set.intersection(a,b))
print("-"*50)

#차집합 -, set.difference

print(a-b)
print(set.difference(a,b))
print("-"*50)

#대칭 차집합 ^, set.symmetric_difference

print(a^b)
print(set.symmetric_difference(a,b))
print("-"*50)

#부분집합 <=, issubset(다른세트)
a = {1,2,3,4}
print(a <= {1,2,3,4,5})
print(a.issubset({1,2,3,4,5}))

print(a <= {1,2,3})
print(a.issubset({1,2,3}))

print("-"*50)

#상위집합 >=, issuperset(다른세트)

a = {1,2,3,4}
print(a >= {1,2,3})
print(a.issuperset({1,2,3}))

print(a <= {1,2,3,4,5})
print(a.issuperset({1,2,3,4,5}))

print("-"*50)

#겹치는 요소확인 isdisjoint(다른세트)
a = {1,2,3,4}
print(a.isdisjoint({5,6,7,8})) #겹치는 요소 없음
print(a.isdisjoint({2,3,4,5})) # 2,3,4 겹침
print("-"*50)

#추가하기 add(요소)
a.add(5)
print(a)
print("-"*50)

#삭제하기 remove(요소), discard(요소)

a.remove(1)
print(a)
print("-"*50)

a.discard(2)
print(a)

True
{'i', 'm', 'l', 'a', 'n'}
{0, 1, 2, 3, 4}
--------------------------------------------------
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
--------------------------------------------------
{3}
{3}
--------------------------------------------------
{1, 2}
{1, 2}
--------------------------------------------------
{1, 2, 4, 5}
{1, 2, 4, 5}
--------------------------------------------------
True
True
False
False
--------------------------------------------------
True
True
True
False
--------------------------------------------------
True
False
--------------------------------------------------
{1, 2, 3, 4, 5}
--------------------------------------------------
{2, 3, 4, 5}
--------------------------------------------------
{3, 4, 5}