In [1]:
print("hello world")

hello world

x=10
변수 = 자료

int 정수
float 실수
bool 참/거짓
str 문자열
list 리스트
tuple 튜플형
set 집합
dict 딕셔너리

In [5]:
#정수
print(type(10))
#실수
print(type(10.1))
#bool
print(type(True))
#문자열
print(type("hello python"))
#리스트
print(type([1,2,3,4]))
#튜플
print(type((1,2,3,4)))
#집합
print(type({1,2,3,4}))
#딕셔너리
print(type({
    'name':'jihun',
    'height':183}))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

사칙연산
+,-,*,/
제곱**, 몫 //, 나머지연산 %

### 연습문제 1
a =7, b = 3.0 초기화
a를 b로 나누었을 때 몫과 나머지를 각각 c와 d라는 변수에 초기화한 후 출력하라.
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라

In [7]:
a,b = 7, 3.0
# code 시작
c = a//b
d = a%b
e = a**b

print(c)
print(d)
print(e)
# code 종료

2.0
1.0
343.0

### 연습문제2

반 평균을 구하시오.
변수 이름을 학생 이름으로 하고 반드시 정수로 출력
mike 80, judy 75, sera 100

In [8]:
mike, judy, sera = 80, 75, 100
avg = (mike+ judy+ sera)/3
print(int(avg))

85

str, list, tuple, set, dict 등 요소가 있는 자료형은 요소가 있으면 True, 요소가 없으면 False

In [3]:
user_number_1 = float(input("첫 번째 점수를 입력하세요"))
user_number_2 = float(input("두 번째 점수를 입력하세요"))
user_number_3 = float(input("세 번째 점수를 입력하세요"))

if user_number_1>65 and user_number_2>65 and user_number_3>65:
    print(True)
else:
    print(False)

첫 번째 점수를 입력하세요80
두 번째 점수를 입력하세요90
세 번째 점수를 입력하세요100
True

비어있는 변수 (Null)

None

In [4]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

## 문자열

In [8]:
first = "Hello, World"
multi = """Hello, World 
Hello, Python"""

print(first)
print(multi)

Hello, World
Hello, World
Hello, Python

#### 문자열 연산
"과일" + "사과" = "과일사과"

"과일" * 3 = "과일과일과일"

\n 엔터 개행

\t 4칸 또는 일정한 칸 개행 

\\ \를 출력할 때

\" "를 출력할 때

\' '를 출력할 때

In [9]:
print("hi \nfriend")
print("hi \tfriend")
print("hi \\friend")
print("hi \"friend")
print("hi \'friend")

hi
friend
hi 	friend
hi \friend
hi "friend
hi 'friend

####문자열 인덱싱

s[i] i번째 항 

s[i:j] i번째 항 이상 j번째 미만 

s[i:j:k] i번째 항 이상 j번째 미만 k만큼 건너 뛰면서 

s[-i] -index

In [11]:
s = "hello world"

print("s[0]?",s[0],"s[6]?",s[6])
print("s[:5]?",s[:5],"s[6:]?",s[6:])
print("s[::2]?",s[::2],"s[1:6:3]?",s[1:6:3])
print("s[-1]?",s[-1],"s[1:-4:3]?",s[1:-4:3])

s[0]? h s[6]? w
s[:5]? hello s[6:]? world
s[::2]? hlowrd s[1:6:3]? eo
s[-1]? d s[1:-4:3]? eo

#### 서식 지정자
%s 문자, %d 정수 %f 실수 

%.(숫자)f 소수점 이하 자리수

In [13]:
# "문자열 %s 문자열" % "추가문자"
name = "tom"
print("i am "+name+"!") # +사용
print("i am %s!" %name) #서식 지정자 사용

# %(공백 level)s 공백추가
print("i am %10s!" %name)
print("i am %-10s!" %name)

# 여러 개의 추가문자
f1, f2 = "apple", "banana"
print("i like %s, %s!!" %(f1,f2))

i am tom!
i am tom!
i am        tom!
i am tom       !
i like apple, banana!!

#### Format 함수

In [26]:
# "문자열 {0},{1} 문자열".format(값,값)

print("I like {0}, {1} !!".format("apple", "banana"))
print("Number {0}, {2}, {1} !!".format(1,2,3))
print("Number {}, {}, {} !!".format(1,2,3))

print("Number {0:>4}!".format(1))
print("Number {0:<4}!".format(1))
print("Number {0:=<4}!".format(1))
print("Number {0:-^5}!".format(1))

I like apple, banana !!
Number 1, 3, 2 !!
Number 1, 2, 3 !!
Number    1!
Number 1   !
Number 1===!
Number --1--!

#### f문자열 (python >= 3.6)

In [28]:
math = 95
english = 65
science =40

print(f"수학점수:{math} \n영어점수:{english:-^10}\n과학점수:{science}") 
print(f"수학점수:{math+5} \n영어점수:{english:-^10}\n과학점수:{science}")

수학점수:95
영어점수:----65----
과학점수:40
수학점수:100
영어점수:----65----
과학점수:40

### 연습문제 4
a="20190505chicken19000"는 잘못 쓰여진 변수이다.
2019는 year이라는 변수에, 그 다음 0505를 day라는 변수
chicken을 menu라는 변수에, 19000을 money라는 변수에 인덱싱을 사용하여 각각 저장하고 출력하시오.

In [30]:
a="20190505chicken19000"

#code 작성

year = a[0:4]
day = a[4:8]
menu = a[8:15]
money = a[-5:]

print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

### 연습문제 5
a = "90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.
문자열 인덱싱을 이용해 각 점수를 각각 
math, english, science 변수에 저장하고, average란 변수에 평균값을 저장하고 출력하시오.

In [31]:
a = "90:30:80"

#code 작성

math = float(a[:2])
english = float(a[3:5])
science = float(a[-2:])

average = (math+english+science)/3

print(average)

66.66666666666667